.square {
  background-color: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  color: black;
}

.square.square--complete-transform {
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  background-color: blue;
  color: white;
  border-color: black;
}

.square--modified {
  background-color: goldenrod;
}

.square--inferred {
  background-color: beige;
}

.square--column-complete, .square--row-complete, .square--section-complete, .square--value-complete {
  background-color: lightgreen;
}

.square--last {
  color: red;
  font-size: 30px;
  border-color: black;
}


.section {
  border: 3px solid #999;
  float: left;
}


.section__square-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-top: 10px;
}

.status.status--modified {
  color: goldenrod;
}

.status.status--inferred {
  color: beige;
}

.status.status--column-complete, .status.status--row-complete, .status.status--section-complete, .status.status--value-complete {
  color: lightgreen;
}

.board {
  border: 2px solid #999;
}


.board__section-row:after {
  clear: both;
  content: '';
  display: table;
}

.game {
  display: flex;
  flex-direction: row;
}

@media (max-width: 500px) {
  .game {
    flex-direction: column;
  }  
}

.game-info {
  width:300px;
  margin-top: 20px;
  margin-left: 20px;
}

.game__nav-button {
  background-color: beige;
  margin: 10px;
  width: 100px;
}